---
layout: default
---


<section>
    <div class="section-title">
        <h2><span>{{ page.title }}</span></h2>
    </div>

    <div class="article-post">
    {{content}}
    </div>

    {% if page.comments == true %}

    <div id="comments" class="row mb-5">
        <div class="col-md-8">
            {% include disqus.html %}
        </div>
    </div>
	
	<script src="https://utteranc.es/client.js"
        repo="https://github.com/ashish-choudhari/weblog"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>

    {% endif %}
</section>